.not-found {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 600px;
  margin-left: -300px;
  margin-top: -114px;
  padding: 30px;
  border: 1px solid #fff;
  text-align: center;
}

.not-found__header {
  font-size: 10rem;
  line-height: 1;
  margin-bottom: 20px;
}

.not-found__text {
  font-size: 2rem;
}
