<div class="not-found">
  <div class="not-found__header">
    404
  </div>
  <div class="not-found__text">
    Страница не найдена. Пожалуйста, проследуйте <a routerLink="/">на главную страницу</a>.
  </div>
</div>
