<div class="weather-current">
  <div class="weather-current__nav">
    <a routerLink="/" class="button button-extended weather-current__back">
      Выбрать город
      <div class="horizontal"></div>
      <div class="vertical"></div>
    </a>
  </div>
  <app-error *ngIf="error" [errorInput]="error" class="weather-current__error"></app-error>

  <div *ngIf="current && !error" class="weather-current__main">
    <div class="weather-current__header">
      <div class="weather-current__title">
        Погода для города «{{city}}»
      </div>
      <button class="button button-extended weather-current__update" type="button" (click)="update()">
        Обновить
        <div class="horizontal"></div>
        <div class="vertical"></div>
      </button>
    </div>
    <div>
      <app-weather-item [item]="current"></app-weather-item>
    </div>
  </div>

  <app-weather-current-loader [position]="position" *ngIf="!current && !error"></app-weather-current-loader>
</div>
