.weather-current__main {
  padding-top: 10px;
  padding-bottom: 10px;
}

.weather-current__nav {
  padding-top: 30px;
  padding-bottom: 60px;
}

.weather-current__title {
  font-size: 2rem;
}

.weather-current__back,
.weather-current__update {
  width: 150px;
  text-align: center;
}

.weather-current .back {
  margin-left: 10px;
}

.weather-current__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 60px;
}

.weather-current__update {
  margin-right: 10px;
}

.weather-current__error {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  margin-left: -150px;
  margin-top: -36px;
}

@media all and (max-width: 500px) {
  .weather-current__header {
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 0;
  }

  .weather-current__title,
  .weather-current__update {
    margin-bottom: 20px;
  }
}
