.weather-current-loader {
  position: absolute;
  max-width: 500px;
  top: 50%;
  left: 50%;
  margin-left: -107px;
  margin-top: -85px;
  text-align: center;
  font-size: 1.8rem;
}

.weather-current-loader .visual-loader {
  display: block;
  margin-bottom: 20px;
  margin-left: -15px;
}
