<div class="weather-choose-location">
  <div class="weather-choose-location__description">
    Погода в
  </div>
  <form class="weather-choose-location__wrap" [formGroup]="chooseForm" (submit)="onSubmit()">
    <p class="form-group">
      <ng-select
        class="custom"
        [items]="locations"
        [selectOnTab]="true"
        [loading]="locationsLoading"
        bindValue="value"
        labelForId="Город"
        placeholder="Мой город..."
        formControlName="location">
      </ng-select>
    </p>
    <button type="button" class="weather-choose-location__btn button" (click)="onSubmit()">Узнать</button>
  </form>
  <div class="error-message error-message_validation" *ngIf="isControlInvalid('location')">Пожалуйста, выберите город.</div>
  <div class="error-message error-message_http" *ngIf="error">{{error}}</div>
</div>
