.app-error {
  display: flex;
  align-items: center;
  padding: 15px;
  border: 1px solid #fff;
}

.app-error__icon {
  width: 40px;
  height: 40px;
  margin-right: 20px;
  background-image: url('../../../../assets/images/error.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.app-error__message {
  width: 215px;
}
