@import '~normalize.css/normalize.css';
@import "~@ng-select/ng-select/themes/default.theme.css";

@font-face {
  font-family: 'OpenSansLight';
  src:
    url('assets/fonts/opensanslight.woff') format('woff'),
    url('assets/fonts/opensanslight.woff2') format('woff2');
  font-weight:200;
  font-style:normal;
}

html {
  height: 100vh;
  font-size: 10px;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
font-family: 'OpenSansLight', 'Arial', sans-serif;
color: #fff;
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
background: #2196f3;
font-size: 1.6rem;
}

a {
color: #fff;
}

p {
  margin: 0;
}

.app-root {
  width: 100%;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px 0 15px;
}

/* BUTTONS */

.button {
  --border-size: 1px;
  display: block;
  position: relative;
  padding: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  background: transparent;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.25em;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 0;
  box-shadow: inset 0 0 0 var(--border-size) currentcolor;
  transition: background 0.8s ease;
}

.button:hover,
.button:focus {
  background: rgba(255, 255, 255, 0.2);
}

.button-extended {
  --offset: 10px;
}

.button-extended .horizontal,
.button-extended .vertical {
  position: absolute;
  top: var(--horizontal-offset, 0);
  right: var(--vertical-offset, 0);
  bottom: var(--horizontal-offset, 0);
  left: var(--vertical-offset, 0);
  transition: -webkit-transform 0.8s ease;
  transition: transform 0.8s ease, -webkit-transform 0.8s ease;
  will-change: transform;
}

.button-extended .horizontal::before,
.button-extended .vertical::before {
  content: "";
  position: absolute;
  border: inherit;
}

.button-extended .horizontal {
  --vertical-offset: calc(var(--offset) * -1);
  border-top: var(--border-size) solid currentcolor;
  border-bottom: var(--border-size) solid currentcolor;
}

.button-extended .horizontal::before {
  top: calc(var(--vertical-offset) - var(--border-size));
  bottom: calc(var(--vertical-offset) - var(--border-size));
  left: calc(var(--vertical-offset) * -1);
  right: calc(var(--vertical-offset) * -1);
}

.button-extended:hover .horizontal,
.button-extended:focus .horizontal {
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
}

.button-extended .vertical {
  --horizontal-offset: calc(var(--offset) * -1);
  border-left: var(--border-size) solid currentcolor;
  border-right: var(--border-size) solid currentcolor;
}

.button-extended .vertical::before {
  top: calc(var(--horizontal-offset) * -1);
  bottom: calc(var(--horizontal-offset) * -1);
  left: calc(var(--horizontal-offset) - var(--border-size));
  right: calc(var(--horizontal-offset) - var(--border-size));
}

.button-extended:hover .vertical,
.button-extended:focus .vertical {
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
}

/* FORMS */

input::placeholder {
  color: #fff;
  opacity: 1;
}

input:-ms-input-placeholder {
  color: #fff;
}

input::-ms-input-placeholder {
  color: #fff;
}

input {
  width: 100%;
  outline: none;
  background-color: transparent;
  border: 1px solid transparent;
  border-bottom: 1px solid #fff;
  color: white;
}

input:focus {
  border: 1px solid #fff;
}
.ng-select.custom {
  height: 100%;
  display: flex;
}

.ng-select.custom.ng-select-single .ng-select-container .ng-value-container .ng-input {
  top: 8px;
}

.ng-select.custom .ng-select-container {
  height: auto;
  background: #2196f3;
  color: #fff;
  border-radius: 0;
  border: 1px solid #fff;
  transition: background 0.8s ease;
}

.ng-select.custom .ng-select-container:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.ng-select.custom .ng-clear-wrapper,
.ng-select.custom .ng-arrow-wrapper .ng-arrow {
  color: #fff;
  border-color: #fff transparent transparent;
}

.ng-select.custom.ng-select-opened > .ng-select-container .ng-arrow {
  border-color: transparent transparent #fff;
}

.ng-select.custom .ng-select-container .ng-value-container .ng-placeholder {
  color: #fff;
}

.ng-select.custom .ng-dropdown-panel {
  border: 1px solid #fff;
  border-radius: 0;
  background-color: #2196f3;
}

.ng-select.custom .ng-dropdown-panel .ng-option {
  background-color: #2196f3;
  border: none;
  color: #fff;
}

.ng-select.custom .ng-dropdown-panel .ng-option:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.ng-select.custom .ng-select-container .ng-value-container .ng-input>input {
  box-shadow: none;
}

.ng-select.ng-select-focused:not(.ng-select-opened)>.ng-select-container {
  border: 1px solid #fff;
  background-color: rgba(255, 255, 255, 0.2);
}

.ng-select.custom .ng-spinner-loader {
  border-top: 2px solid rgba(255,255,255,.2);
  border-right: 2px solid rgba(255,255,255,.2);
  border-bottom: 2px solid rgba(255,255,255,.2);
  border-left: 2px solid #fff;

}
