.weather-item {
  display: flex;
  flex-wrap: nowrap;
  padding: 15px;
  border: 1px solid #fff;
  text-align: center;
}

.weather-item__header {
  text-transform: uppercase;
}

.weather-item__data {
  font-size: 3rem;
}

.weather-item__cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  width: 100%;
  padding: 0.8em 1.2em;
  margin: 5px;
  overflow: hidden;
  list-style: none;
  border: 1px solid #fff;
}

.weather-item_2cols > .weather-item__cell {
  width: 50%;
}

.weather-item_3cols > .weather-item__cell {
  width: 33.33%;
}

.weather-item_4cols > .weather-item__cell {
  width: 25%;
}

.weather-item_5cols > .weather-item__cell {
  width: 20%;
}

.weather-item_6cols > .weather-item__cell{
  width: 16.6%;
}

@media all and (max-width: 700px) {
  .weather-item__cell {
    margin: 0 0 5px 0;
  }
  .weather-item__collapse {
    display: block;
  }
  .weather-item__collapse > .weather-item__cell {
    width: 100% !important;
  }
}

.weather-item__sky-icon {
  width: 60px;
  height: 60px;
}

.weather-item__sky-icon.weather-item__sky-icon_type-1 {
  background-image: url('../../../../assets/images/sun.svg');
}

.weather-item__sky-icon.weather-item__sky-icon_type-2 {
  background-image: url('../../../../assets/images/sun_cloud.svg');
}

.weather-item__sky-icon.weather-item__sky-icon_type-3 {
  background-image: url('../../../../assets/images/moon.svg');
}

.weather-item__sky-icon.weather-item__sky-icon_type-4 {
  background-image: url('../../../../assets/images/moon_cloud.svg');
}


